.container {
    .task {
        padding: 1rem;
        .removeButton {
            color: red;
            float: right;
            cursor: pointer;
            border: 1px solid transparent;
            &:hover {
                border: 1px solid green;
                background-color: blue;
            }
        }
    }
}