body {
    background-color: antiquewhite;
    border: calc(1rem / 16) dashed green;
    font-size: 20px;
    button {
        background-color: transparent;
        border: none;
        margin: 1em;
        padding: 1em;
        border: calc(1em / 16) solid black;
        &:hover {
            background-color: bisque;
            cursor: pointer;
        }
    }
    input {
        padding: 1em;
        border: none;
        outline: none;
        border: calc(1em / 16) solid transparent;
        &:hover {
            border: calc(1em / 16) solid black;
        }
        &:focus {
            border: calc(1em / 16) solid black;
        }
    }
}